<footer>
	<div class="footer-area">
		<div class="footer-area-bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
						<p>&copy; {date('Y')} Nalepim.cz</p>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 author">
						<p>Tvorba <a href="https://jkotrba.net/" target="_blank">Jan Kotrba</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>