fileManager:
	fileUploaded: "Soubor byl nahrán"
	fileRemoved: "Soubor byl odstraněn"
	fileUploadFailed: "Nahrávání souboru selhalo"
	fileIsNotValid: "Zvolený soubor není validní"
	fileNotFound: "Soubor neexistuje"
	deleteFileFailed: "Soubor se nepodařilo odstranit"

categoryManager:
	createCategoryFailed: "Nelze vytvořit novou kategorii"
	updateCategoryFailed: "Nelze uložit změny kategorie"
	categoryAlreadyExists: "Kategorie s tímto názvem již existuje"
	parentCategoryNotFound: "Nadřazená kategorie neexistuje"
	newCategoryCreated: "Kategorie vytvořena"
	categoryUpdated: "Kategorie upravena"